@{
    ViewBag.Title = " - Monsters";
}

<div class="card card-outline card-primary"  style="top:1vh;">
    <div class="card-header">
        <h3 class="card-title">Search Monsters</h3>
    </div>

    <form role="form">
        <div class="card-body">
            <div class="form-group">

                <div id="partial-Monsters">

                </div>

            </div>
        </div>


        <div class="card-footer">
            <button type="button" id="btn-search-Monsters" class="btn btn-primary float-right">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/Monsters.js"></script>
}

