html, body, .container-fluid {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ddd;
}

.sidebar {
    position: absolute;
    background: lightgreen;
    width: 200px;
    height: 100%;
    clear: none;
    left: 0;
}

.footer {
    position: absolute;
    background: yellow;
    width: 100%;
    height: 25px;
    clear: none;
    bottom: 0;
}

.content {
    background: lightblue;
    height: 100%;
    margin-bottom: 25px;
    margin-left: 200px;
    overflow: hidden;
}

body {
    overflow:hidden;
}

.main-header {
    height:35px;
}