<form class="modal fade" tabindex="-1" role="dialog" id="PlayersEdit">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Player</h4>
            </div>
            <div class="modal-body">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <b>Info</b>
                    </div>
                    <div class="card-body">

                        @Html.Partial("_GenerateForm")

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="PlayersEditClose" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="PlayersEdit">Save changes</button>
            </div>
        </div>
    </div>
</form>