@{
    ViewBag.Title = " - Players";
}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">Search Players</h3>
    </div>

    <form role="form">
        <div class="card-body">
            <div class="form-group">
            </div>
        </div>


        <div class="card-footer">
            <button type="button" id="btn-search-Players" class="btn btn-primary float-right">Submit</button>
        </div>
    </form>
</div>

<div id="partial-Players">

</div>



@section Scripts{
    <script src="~/js/Players.js"></script>
}

