<footer class="main-footer">
    <div class="float-right">
        <b>Version</b> 0.0.0
    </div>

    <div class="float-left">
        <strong>Copyright &copy; @DateTime.Now.Year</strong>
    </div>    
</footer>