<div class="modal fade" tabindex="-1" role="dialog" id="_LoadingModal">
    <div class="modal-dialog modal-sm modal-dialog-centered" style="width:150px;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <center>
                        <div class="spinner-border" role="status" id="_Loading">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>