<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <a href="#">
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Players")">Players</a></li>
                </ul>

                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Monsters")">Monsters</a></li>
                </ul>

                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Combat")">Combat</a></li>
                </ul>
            </a>
        </ul>
    </section>
</aside>