
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a class="brand-link">
        <span class="brand-text font-weight-light" style="visibility:hidden">Menu</span>
    </a>


    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-dice-d20"></i>
                        <p>
                            Registers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Players")" class="nav-link active">
                                <i class="fas fa-dice-d6 nav-icon"></i>
                                <p>Players</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Monsters")" class="nav-link active">
                                <i class="fas fa-dice-d6 nav-icon"></i>
                                <p>Monsters</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-dice-d20"></i>
                        <p>
                            Encounters
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Combat", "Encounters")" class="nav-link active">
                                <i class="fas fa-dice-d6 nav-icon"></i>
                                <p>Combat</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>